.container{
    padding:2px 16px;
}

*{
    font-family: consolas;
}

body{
    background-color: rgb(56, 56, 56);
    margin:0 auto;
    width:70%;
    padding:0;
}

.header{
    border-radius: 50px;
    overflow:hidden;
}

div{
    background-color: rgb(94, 94, 94);
    
}

.div-utama{
    font-size: 40px;
    color: rgb(22, 255, 14);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div-utama img{
    width:100%;
}